# Modelo de lenguaje y tokenizador
transformers==4.36.2

# Generación de embeddings de texto
sentence-transformers==2.2.2

# Base de datos vectorial
chromadb==0.4.6

# Optimización para modelos de transformers
accelerate

# Framework de machine learning
torch==2.1.2

# Manipulación de arrays y operaciones matemáticas
numpy==1.24.3

# Generación de identificadores únicos
uuid==1.30

huggingface_hub==0.23.0

torchvision==0.16.2